<div class="radio">
    <label>
        <input type="radio" name="shipping_method" value="{{ shipping_cdek_official.code }}" />
        {{ text_description }}: {{ shipping_cdek_official.cost }}
    </label>
</div>