{#<div class="radio">#}
{#    <label>#}
{#        <input type="radio" name="shipping_method" data-test="test" value="{{ shipping_cdek_official.code }}" />#}
{#        {{ text_description }}: {{ shipping_cdek_official.cost }}#}
{#    </label>#}
{#</div>#}

{#<input type="tel">#}

<h2>{{ cdek }}</h2>